* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card .top img {
  height: 42px;
  width: 42px;
  object-fit: cover;
  border: 1px solid #dadada;
  padding: 3px;
  border-radius: 50%;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #b8b8b8;
}

.center h2 {
  font-size: 20px;
  font-weight: 600;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 10px;
  font-weight: 500;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  border-radius: 3px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.bottom h3 {
  font-size: 17px;
}

.bottom p {
  font-size: 10px;
  color: #8b8b8b;
}