* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  height: 100vh;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  width: fit-content;
  font-size: 100px;
  padding: 20px 80px;
  background-color: rgb(119, 119, 119);
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(119, 119, 119);
  border: none;
  border-radius: 3px;
}