@import "tailwindcss";

h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    font-size: 100px;
    white-space: nowrap;
}