* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.card {
  background-color: pink;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.nav{
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
}