* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1{
  font-size: 45px;
}

button{
  padding: 10px 22px;
  background-color: #9c9999;
  border-radius: 3px;
  border: none;
}